.title {
    color:#04AA6D;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
}

.title-contact {
    color:#04AA6D;
    //text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.btn {
    margin-top: 15px;
}

.info-tab {
    background-color: #04AA6D;
    text-align: center;
    color:white;
}

.bullet-title {
    color:white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

.col {
    margin-top: 15px;
}